<p>
  <a href="javascript:void(0)" (click)="goBack()">← Go back</a>
</p>

<div class="row">
  <div class="col s8 m10">
    <h5>{{ heading }}</h5>
  </div>
</div>

<form>
  <div class="card">

    <div class="card-content grey-text text-darken-4">
      <div class="row">

        <div class="col s12 m6">
          <section>
            <div class="input-field">
              <input id="name" name="name" type="text" [(ngModel)]="feature.meta.name" required>
              <label for="name">Name <sup>*</sup></label>
            </div>
          </section>
        </div>
        <div class="col s12 m6">
          <section>
            <div class="input-field">
              <input id="author" name="author" type="text" [(ngModel)]="feature.meta.author">
              <label for="author">Author</label>
            </div>
          </section>
        </div>

        <div class="col s12">
          <section>
            <div class="input-field">
              <input id="description" name="description" type="text" [(ngModel)]="feature.meta.description">
              <label for="description">Description</label>
            </div>
          </section>
        </div>

        <div class="col s12">
          <section>
            <label>Snippet</label>
            <div ace-editor style="height: 30vh;"
              [text]="feature.snippet"
              [mode]="'dockerfile'"
              [theme]="'github'"
              [options]="options"
              (textChanged)="onTextChanged($event, 'snippet')"
              [readOnly]="false"></div>
          </section>
        </div>

        <div class="col s12">
          <section>
            <label>Test snippet</label>
            <div ace-editor style="height: 10vh;"
              [text]="feature.test_snippet"
              [mode]="'sh'"
              [theme]="'github'"
              [options]="options"
              (textChanged)="onTextChanged($event, 'test_snippet')"
              [readOnly]="false"></div>
          </section>
        </div>

        <div class="col s12 m6">
          <section>
            <div class="input-field">
              <input id="dependency" name="dependency" type="text" (change)="addDependency($event)">
              <label for="dependency">Add dependency</label>
            </div>
          </section>
        </div>
        <div class="col s12 m6">
          <section>
            <label>Dependencies</label>
            <p *ngIf="feature?.meta.dependencies.length > 0">
              <span class="chip" *ngFor="let dependency of feature.meta.dependencies">{{ dependency }}
                <i class="close material-icons" (click)="removeDependency(dependency)" title="Remove dependency">close</i></span>
            </p>
            <p *ngIf="feature?.meta.dependencies.length === 0">
              No dependencies defined
            </p>
          </section>
        </div>

        <div class="col s12">
          <sup>*</sup> Required field
        </div>

      </div>
    </div>

    <div class="card-action">
      <div class="card-panel red" *ngIf="error">
          <span class="white-text">{{ error }}</span>
      </div>
      <!--<p *ngIf="error">{{ error }}</p>-->
      <button type="button" class="btn deep-orange waves-effect"
        title="Save feature" (click)="save(feature)">Save</button>
      <button type="button" class="btn btn-flat grey lighten-3 black-text waves-effect"
        title="Cancel and return to list" (click)="cancel()">Cancel</button>
    </div>

  </div>
</form>
