#app { height: 100%; }

#app .spinner { height: 100% }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page {
  flex: 1;
  display: flex;
}

#registry {
  flex-grow: 1;
}

#features-pane {
  display: flex;
  flex-direction: column;

  .features-list {
    flex: 1;
    overflow-y: auto;
    height: 0;

    .feature {
      width: 100%;

      &.selected {
        background-color: #e4e4e4;
      }
    }
  }
}

.code textarea {
  font-family: 'DejaVu Sans Mono', monospace;
}