<header class="navbar-fixed">
  <nav class="deep-orange white-text">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo" materialize="tooltip" data-tooltip="Navigate home">{{ title }}</a>
      <ul class="right">
        <li>
          <a routerLink="/login" materialize="tooltip" data-tooltip="Authenticate yourself"><i
            class="material-icons left">person_outline</i>Login</a></li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
