<p>
 <a href="javascript:void(0)" (click)="goBack()">← Go back</a>
</p>

<div class="row">
  <div class="col s8 m10">
    <h5>{{ heading }}</h5>
  </div>
  <div class="col s4 m2 right-align">
    <a class="btn grey lighten-3 black-text waves-effect waves-light" (click)="openDeleteModal()"
       materialize="tooltip" data-tooltip="Delete this feature"><i class="material-icons">clear</i></a>
  </div>
</div>

<div id="deleteModal" class="modal" materialize="modal"
  [materializeParams]="[{dismissible: true}]" [materializeActions]="modalDeleteActions">
  <div class="modal-content">
    <h4>Delete feature</h4>
    <p>
      Do you really want to delete feature <strong>{{ name }}</strong>?
      Please note that this action can not be undone.
    </p>
    <div class="card-panel red" *ngIf="modalDeleteError">
      <span class="white-text">{{ modalDeleteError }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn deep-orange waves-effect" (click)="confirmDeleteModal()">Confirm</a>
    <a class="btn btn-flat grey lighten-3 black-text waves-effect modal-action modal-close">Abort</a>
  </div>
</div>

<div class="card">
  <div class="card-content grey-text text-darken-4">
    <div class="row">

      <div class="col s12 m6">
        <section>
          <label>Name</label>
          <p>
            {{ feature?.meta.name }}
          </p>
        </section>
      </div>
      <div class="col s12 m6">
        <section>
          <label>Author</label>
          <p *ngIf="feature?.meta.author">
            <a [routerLink]="['/features/list']" [queryParams]="{author: feature?.meta.author}"
              title="Show all features of this author">{{ feature?.meta.author }}</a>
          </p>
          <p *ngIf="!feature?.meta.author">No author defined</p>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Description</label>
          <div *ngIf="feature?.meta.description">{{ feature?.meta.description }}</div>
          <div *ngIf="!feature?.meta.description">No description defined</div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Snippet</label>
          <div *ngIf="feature?.snippet" ace-editor style="height: 30vh;"
            [text]="feature?.snippet"
            [mode]="'dockerfile'"
            [theme]="'github'"
            [options]="options"
            [readOnly]="true"></div>
          <div *ngIf="!feature?.snippet">No snippet defined</div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Test snippet</label>
          <div *ngIf="feature?.test_snippet" ace-editor style="height: 10vh;"
            [text]="feature?.test_snippet"
            [mode]="'sh'"
            [theme]="'github'"
            [options]="options"
            [readOnly]="true"></div>
          <div *ngIf="!feature?.test_snippet">No test snippet defined</div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Dependencies</label>
          <p *ngIf="feature?.meta.dependencies.length > 0">
            <a class="chip dependency" *ngFor="let dependency of feature.meta.dependencies"
             [routerLink]="['/features/detail', dependency]">{{ dependency }}</a>
          </p>
          <p *ngIf="feature?.meta.dependencies.length === 0">
            No dependencies defined
          </p>
        </section>
      </div>

    </div>
  </div>
</div>
