<p>
 <a href="javascript:void(0)" (click)="goBack()">← Go back</a>
</p>

<div class="row">
  <div class="col s8 m10">
    <h5>{{ heading }}</h5>
  </div>
  <div class="col s4 m2 right-align">
    <a class="btn grey lighten-3 black-text disabled" title="Delete feature"
       routerLink="/features/delete/{{ name }}"><i class="material-icons">clear</i></a>
  </div>
</div>

<div class="card">
  <div class="card-content grey-text text-darken-4">
    <div class="row">

      <div class="col s12 m6">
        <section>
          <label>Name</label>
          <p>
            {{ feature?.meta.name }}
          </p>
        </section>
      </div>
      <div class="col s12 m6">
        <section>
          <label>Author</label>
          <p>
            <a [routerLink]="['/features/list']" [queryParams]="{author: feature?.meta.author}"
               title="Show all features of this author">{{ feature?.meta.author }}</a>
          </p>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Description</label>
          <div>{{ feature?.meta.description }}</div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Snippet</label>
          <div ace-editor style="height: 30vh;"
            [text]="snippet"
            [mode]="'dockerfile'"
            [theme]="'github'"
            [options]="options"
            [readOnly]="true"></div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Test snippet</label>
          <div ace-editor style="height: 10vh;"
               [text]="testSnippet"
               [mode]="'sh'"
               [theme]="'github'"
               [options]="options"
               [readOnly]="true"></div>
        </section>
      </div>

      <div class="col s12">
        <section>
          <label>Dependencies</label>
          <p *ngIf="feature?.meta.dependencies.length > 0">
            <span class="chip" *ngFor="let dependency of feature.meta.dependencies">
              <a [routerLink]="['/features/detail', dependency]">{{ dependency }}</a>
            </span>
          </p>
          <p *ngIf="feature?.meta.dependencies.length === 0">
            No dependencies defined
          </p>
        </section>
      </div>

    </div>
  </div>
</div>
