@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$pazuzu-ui-primary: md-palette($md-deep-orange);
$pazuzu-ui-accent:  md-palette($md-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pazuzu-ui-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$pazuzu-ui-theme:   md-light-theme($pazuzu-ui-primary, $pazuzu-ui-accent, $pazuzu-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pazuzu-ui-theme);
