/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ff5722;
}

nav .brand-logo {
  margin: 0 10px;
}

main {
  padding-top: 10px;
  padding-bottom: 40px;
}

.row h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
