<p>&nbsp;</p>

<div class="row">
  <div class="col s8 m10">
    <h5>
      {{ total | i18nPlural:totalMapping }}
      <small>showing page {{ page }} of {{ pages }} –
        <span *ngFor="let option of limitOptions; let lastOption = last">
          <a href="javascript:void(0)" (click)="updateParam('limit', option)"
             [class.active]="params.get('limit') == option"
             materialize="tooltip" [attr.data-tooltip]="'Show ' + option + ' items per page'">{{ option }}</a>
          <span *ngIf="!lastOption"> / </span>
        </span>items per page</small>
    </h5>
  </div>
  <div class="col s4 m2 right-align">
    <a class="btn grey lighten-3 black-text waves-effect waves-light" title="Create new feature"
       [routerLink]="['/features/create']"><i class="material-icons">add</i></a>
  </div>
</div>

<div class="input-field col s6" *ngIf="(features | async)?.length > 0 || params.get('names') !== null">
  <i class="material-icons prefix">search</i>
  <input id="search" type="text" placeholder="Search by name" [value]="params.get('names')" (change)="search($event)">
</div>

<div class="truncate" *ngIf="(features | async)?.length > 0">
  <table class="bordered striped">
    <thead>
      <tr>
        <th data-field="name">Name</th>
        <th data-field="description">Author</th>
        <th data-field="description">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of features | async">
        <td>
          <a [routerLink]="['/features/detail/' + feature.meta.name]"
            title="View details">{{ feature.meta.name }}</a>
        </td>
        <td>
          <a href="javascript:void(0)" (click)="updateParam('author', feature.meta.author)"
            title="Show only features of this author">{{ feature.meta.author }}</a>
        </td>
        <td><span class="truncate">{{ feature.meta.description }}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<ul class="pagination" *ngIf="(features | async)?.length > 0">
  <li [class.disabled]="page <= 1">
    <a href="javascript:void(0)" (click)="goTo(page - 1)" title="Previous page" class="paginate-prev">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>
  <li *ngFor="let p of pagerItems" [ngClass]="{'active grey': p === page}">
    <a href="javascript:void(0)" (click)="goTo(p)" title="Go to Page {{ p }}" class="paginate-page">{{ p }}</a>
  </li>
  <li [class.disabled]="page >= pages">
    <a href="javascript:void(0)" (click)="goTo(page + 1)" title="Next page" class="paginate-next">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
</ul>

<div class="card" *ngIf="(features | async)?.length === 0">
  <div class="card-content">
    <p *ngIf="params.get('names') === null">
      You don’t have any features in your registry. Start by <a [routerLink]="['/features/create']">creating</a> some.
    </p>
    <p *ngIf="params.get('names') !== null">
      Your search didn’t match any feature. <a (click)="resetSearch()" href="javascript:void(0)">Reset</a> search to view all.
    </p>
  </div>
</div>

<div class="card-panel red" *ngIf="error">
  <span class="white-text">{{ error.status }} {{ error.message }}</span>
</div>
