<p>
  &nbsp;
</p>

<div class="row">
  <div class="col s8 m10">
    <h5>{{ heading }}</h5>
    <!--
    TODO: should show something like „Feature 1 to 19 of 22“
    <h5>{{ features.length | i18nPlural: featureHeadlineMapping }}</h5>
     -->
  </div>
  <div class="col s4 m2 right-align">
    <a class="btn grey lighten-3 black-text disabled" title="Create new feature"
       routerLink="/feature/create"><i class="material-icons">add</i></a>
  </div>
</div>

<form>
  <div class="input-field">
    <input id="search" type="search" (input)="term$.next($event.target.value)">
    <label for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>

<table class="bordered striped">
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="description">Author</th>
      <th data-field="description">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feature of features | async">
      <td><a routerLink="/features/detail/{{ feature.meta.name }}">{{ feature.meta.name }}</a></td>
      <td>{{ feature.meta.author }}</td>
      <td class="truncate">{{ feature.meta.description }}</td>
    </tr>
  </tbody>
</table>

<ul class="pagination">
  <li [class.disabled]="page <= 1">
    <a href="javascript:void(0)" (click)="goTo(page - 1)" title="Previous page">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>
  <li *ngFor="let p of pages" [ngClass]="{'active grey': p === page }">
    <a href="javascript:void(0)" (click)="goTo(p)" title="Go to Page {{ p }}">{{ p }}</a>
  </li>
  <li [class.disabled]="page >= featuresPageCount">
    <a href="javascript:void(0)" (click)="goTo(page + 1)" title="Next page">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
</ul>
